@{
    ViewBag.Title = "Index";

<h2>Customer Order</h2>
<div ng-app="todoapp">
    <ul>
        <li><a href="#AddCustomer">>>Add Customer</a><</li>
        <li><a href="#AddOrders">>>Add Orders</a><</li>
    </ul>
    <div ng-view></div>

</div>